In [1]:
value = input("enter number:")
print(value)

enter number:10
10

In [2]:
value = input("enter number:")
print(value)

enter number:12
12

In [4]:
value = input("enter number:")
var = value=="10" and "ten"
print(var)

enter number:10
ten

In [5]:
value = input("enter number:")
var = value=="10" and "ten"
print(var)

enter number:12
False

In [7]:
value = input("enter number:")
var = "ten" and "not ten" 
print(var)

enter number:10
not ten

In [8]:
value = input("enter number:")
var = ("ten" and "not ten" ) and (value=="10" and "ten")
print(var)

enter number:10
ten

In [9]:
value = input("enter number:")
var = ("ten" and "not ten" ) and (value=="10" and "ten")
print(var)

enter number:12
False

In [10]:
value = input("enter number:")
var = "not ten" and value=="10" and "ten"
print(var)

enter number:10
ten

In [11]:
value = input("enter number:")
var = "not ten" and value=="10" and "ten"
print(var)

enter number:12
False

In [12]:
value = input("enter number:")
var = "not ten" or value=="10" and "ten"
print(var)

enter number:10
not ten

In [13]:
value = input("enter number:")
var = value=="10" or "not test" and "ten"
print(var)

enter number:12
ten

In [14]:
value = input("enter number:")
var = value=="10" or "not ten"
print(var)

enter number:12
not ten

In [15]:
value = input("enter number:")
var = value=="10" or "not ten"
print(var)

enter number:10
True

In [16]:
value = input("enter number:")
var = value == "10" and "ten"
print(var)
var1 = var== "ten" and "not ten"
print(var1)

enter number:10
ten
not ten

enter number:12
False
False

In [6]:
actual_string = "The hyderabad temperature in hyderabad was too high yesterday.hyderabad"
source = "hyderabad"
destination = "banglore"
res=""
sub=""
for i in actual_string:
    if i == " ":
        if sub == source:
            res = res+destination
        sub=""
        res = res+" "
    else:
        sub = sub+i
        res=res+i
        
print(res)

The hyderabadbanglore temperature in hyderabadbanglore was too high yesterday.hyderabad

In [12]:
actual_string = "The hyderabad temperature in hyderabad was too high yesterday hyderabad"
source = "hyderabad"
destination = "banglore"
res=""
sub=""
for i in actual_string:
    if i == " ":
        if sub == source:
            res = res[:-1*len(source)]
            res = res+destination
        sub=""
        res = res+" "
    else:
        sub = sub+i
        res=res+i
if sub==source:
    res = res[:-1*len(source)]
    res=res+destination
else:
    res=res+sub    
print(res)

The banglore temperature in banglore was too high yesterday banglore

In [9]:
s="abcdefghijkl"
s[:-4]

'abcdefgh'

In [14]:
actual_string.replace("hyderabad","banglore")

'The banglore temperature in banglore was too high yesterday banglore'

In [1]:
s="!@$###%$^&^"
print("it contains only special chars")

it contains only special chars

In [2]:
s="!@$###%$^&^a1"
print("it contains other chars also")

it contains other chars also

In [3]:
s="sdf sdfds"
print(s.isalnum())

False

In [5]:
s="sdf sdfds"
print(s.isalpha())

False

In [7]:
s="asfdsad12312!"
print("Not" if s.isalnum() else "Contains")

Contains

In [8]:
s="!@#$@#%#$%"
for i in s:
    if i.isalnum():
        print("It contains other chars")
        break
else:
    print("it contains only special chars")

it contains only special chars

In [9]:
s="!@#$@#%#$%qwer"
for i in s:
    if i.isalnum():
        print("It contains other chars")
        break
else:
    print("it contains only special chars")

It contains other chars

In [10]:
import re
s="!@#$@#%#$%qwer"
if re.search("[a-z0-9]",s):
    print("it contains other chars")
else:
    print("it contains only special chars")

it contains other chars

In [11]:
import re
s="!@#$@#%#$%"
if re.search("[a-z0-9]",s):
    print("it contains other chars")
else:
    print("it contains only special chars")

it contains only special chars