In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("db1")

In [3]:
query = "create table person(id int, name varchar(250))"
con.execute(query)# DDL query commint not required

In [5]:
query = "insert into person(id, name) values(1, 'jayaram')"
con.execute(query)# DM query need a commmit

In [6]:
con.commit()

In [7]:
import names
for i in range(2,101):
    query = f"insert into person(id, name) values({i},'{names.get_full_name()}')"
    print(query)
    break

insert into person(id, name) values(2,'Beth Luna')

In [8]:
import names
for i in range(2,101):
    query = f"insert into person(id, name) values({i},'{names.get_full_name()}')"
    con.execute(query)
con.commit()

In [9]:
query = "select * from person"
cur = con.cursor()
cur.execute(query)

In [10]:
cur.fetchall()

[(1, 'jayaram'),
 (2, 'Betty Freeland'),
 (3, 'Henry Cavanaugh'),
 (4, 'Scott Fields'),
 (5, 'Lance Heinsohn'),
 (6, 'Patty Hawes'),
 (7, 'Patricia Cox'),
 (8, 'Daniela Taylor'),
 (9, 'Tony Mattson'),
 (10, 'Gustavo Howard'),
 (11, 'Carla Gales'),
 (12, 'Clyde Swanson'),
 (13, 'Kathleen Foreman'),
 (14, 'Brian Green'),
 (15, 'Antoinette Pinson'),
 (16, 'Celeste Keller'),
 (17, 'Shari Gooden'),
 (18, 'Jeffery Fite'),
 (19, 'Carmela Turner'),
 (20, 'Helen Blackburn'),
 (21, 'Olive Corbin'),
 (22, 'Angela Mcrae'),
 (23, 'Carolyn Reese'),
 (24, 'David Lunford'),
 (25, 'Thomas Kim'),
 (26, 'Daniel Foglesong'),
 (27, 'Cynthia Raab'),
 (28, 'Elaine Phillips'),
 (29, 'Charles Caffey'),
 (30, 'Teddy Garrison'),
 (31, 'William Seals'),
 (32, 'Roberto Findley'),
 (33, 'Clifton Cox'),
 (34, 'Wanda Laue'),
 (35, 'Mary Sanchez'),
 (36, 'Leonard Murphy'),
 (37, 'Bryan Leung'),
 (38, 'Terry Anthony'),
 (39, 'Carl Smith'),
 (40, 'Robert Reed'),
 (41, 'Roseanna Vaughn'),
 (42, 'Eleanor Costa'),
 (43, 'Joseph Stavis'),
 (44, 'Eugene Pearson'),
 (45, 'William Lapage'),
 (46, 'Jane Johnston'),
 (47, 'Anthony Ventura'),
 (48, 'Daniel Barker'),
 (49, 'David Littlefield'),
 (50, 'Joyce Swan'),
 (51, 'Paul Johnson'),
 (52, 'Edna Cancel'),
 (53, 'Jeffrey Lopez'),
 (54, 'Elaine Cunningham'),
 (55, 'Randy Kasten'),
 (56, 'Daisy Robertson'),
 (57, 'Tania Malcolm'),
 (58, 'Gilbert Halpin'),
 (59, 'Kathleen Diaz'),
 (60, 'Dorothy Blake'),
 (61, 'Omer Lee'),
 (62, 'Audrey Lee'),
 (63, 'William Boyd'),
 (64, 'Mario Mckenney'),
 (65, 'Bonnie Podbielski'),
 (66, 'Terry Neely'),
 (67, 'Amelia Seaman'),
 (68, 'Jack Mushrush'),
 (69, 'Joan Beam'),
 (70, 'Nelson Mcevoy'),
 (71, 'Howard Edwards'),
 (72, 'Tom Harsh'),
 (73, 'Charles Vera'),
 (74, 'Kaye Pritchard'),
 (75, 'Dora Cade'),
 (76, 'Joseph Shepard'),
 (77, 'Marcella Haines'),
 (78, 'Christopher Dawson'),
 (79, 'Andrea Elgin'),
 (80, 'Heather Peralta'),
 (81, 'Bryan Mullins'),
 (82, 'Jenine Moffitt'),
 (83, 'Brett Hough'),
 (84, 'Forrest Spooner'),
 (85, 'Candace Harwell'),
 (86, 'Matthew Brown'),
 (87, 'Richard Cohen'),
 (88, 'Gladys Shores'),
 (89, 'Jamie Vogler'),
 (90, 'Julie Hill'),
 (91, 'Michael Legros'),
 (92, 'Jerry Murphy'),
 (93, 'Stephen Hazelton'),
 (94, 'Marion Simmons'),
 (95, 'Estella Pedersen'),
 (96, 'Larry Schumann'),
 (97, 'Jeremy Colone'),
 (98, 'Patricia Lucero'),
 (99, 'Tommie Brown'),
 (100, 'Sean Miller')]

In [11]:
cur.fetchall()

[]

In [12]:
query = "select * from person"
cur = con.cursor()
cur.execute(query)
data = cur.fetchall()
print(data)

[(1, 'jayaram'), (2, 'Betty Freeland'), (3, 'Henry Cavanaugh'), (4, 'Scott Fields'), (5, 'Lance Heinsohn'), (6, 'Patty Hawes'), (7, 'Patricia Cox'), (8, 'Daniela Taylor'), (9, 'Tony Mattson'), (10, 'Gustavo Howard'), (11, 'Carla Gales'), (12, 'Clyde Swanson'), (13, 'Kathleen Foreman'), (14, 'Brian Green'), (15, 'Antoinette Pinson'), (16, 'Celeste Keller'), (17, 'Shari Gooden'), (18, 'Jeffery Fite'), (19, 'Carmela Turner'), (20, 'Helen Blackburn'), (21, 'Olive Corbin'), (22, 'Angela Mcrae'), (23, 'Carolyn Reese'), (24, 'David Lunford'), (25, 'Thomas Kim'), (26, 'Daniel Foglesong'), (27, 'Cynthia Raab'), (28, 'Elaine Phillips'), (29, 'Charles Caffey'), (30, 'Teddy Garrison'), (31, 'William Seals'), (32, 'Roberto Findley'), (33, 'Clifton Cox'), (34, 'Wanda Laue'), (35, 'Mary Sanchez'), (36, 'Leonard Murphy'), (37, 'Bryan Leung'), (38, 'Terry Anthony'), (39, 'Carl Smith'), (40, 'Robert Reed'), (41, 'Roseanna Vaughn'), (42, 'Eleanor Costa'), (43, 'Joseph Stavis'), (44, 'Eugene Pearson'), (45, 'William Lapage'), (46, 'Jane Johnston'), (47, 'Anthony Ventura'), (48, 'Daniel Barker'), (49, 'David Littlefield'), (50, 'Joyce Swan'), (51, 'Paul Johnson'), (52, 'Edna Cancel'), (53, 'Jeffrey Lopez'), (54, 'Elaine Cunningham'), (55, 'Randy Kasten'), (56, 'Daisy Robertson'), (57, 'Tania Malcolm'), (58, 'Gilbert Halpin'), (59, 'Kathleen Diaz'), (60, 'Dorothy Blake'), (61, 'Omer Lee'), (62, 'Audrey Lee'), (63, 'William Boyd'), (64, 'Mario Mckenney'), (65, 'Bonnie Podbielski'), (66, 'Terry Neely'), (67, 'Amelia Seaman'), (68, 'Jack Mushrush'), (69, 'Joan Beam'), (70, 'Nelson Mcevoy'), (71, 'Howard Edwards'), (72, 'Tom Harsh'), (73, 'Charles Vera'), (74, 'Kaye Pritchard'), (75, 'Dora Cade'), (76, 'Joseph Shepard'), (77, 'Marcella Haines'), (78, 'Christopher Dawson'), (79, 'Andrea Elgin'), (80, 'Heather Peralta'), (81, 'Bryan Mullins'), (82, 'Jenine Moffitt'), (83, 'Brett Hough'), (84, 'Forrest Spooner'), (85, 'Candace Harwell'), (86, 'Matthew Brown'), (87, 'Richard Cohen'), (88, 'Gladys Shores'), (89, 'Jamie Vogler'), (90, 'Julie Hill'), (91, 'Michael Legros'), (92, 'Jerry Murphy'), (93, 'Stephen Hazelton'), (94, 'Marion Simmons'), (95, 'Estella Pedersen'), (96, 'Larry Schumann'), (97, 'Jeremy Colone'), (98, 'Patricia Lucero'), (99, 'Tommie Brown'), (100, 'Sean Miller')]

In [16]:
query = "select * from person where name like 'L%'"
cur = con.cursor()
cur.execute(query)
data = cur.fetchall()
print(data)

[(5, 'Lance Heinsohn'), (36, 'Leonard Murphy'), (96, 'Larry Schumann')]

In [20]:
query = "select * from person where name like 'L>%'"
cur = con.cursor()
cur.execute(query)
data = cur.fetchall()
print(data)

[]

In [19]:
query = "select * from person where name like '[%'"
cur = con.cursor()
cur.execute(query)
data = cur.fetchall()
print(data)

[]

In [21]:
query = "select sum(id) from person"
cur.execute(query)
data = cur.fetchall()
print(data)

[(5050,)]

In [22]:
query = "update person set name='JAYARAM' where id=1"
cur.execute(query)
con.commit()

In [24]:
con.close()

In [26]:
import psycopg2
con = psycopg2.connect("dbname=batch79 user=postgres password=root")
cur = con.cursor()

In [1]:
import psycopg2
con = psycopg2.connect("dbname=batch79 user=postgres password=root")
cur = con.cursor()
query="create table person(id int, name varchar(250))"
cur.execute(query)
import names
for i in range(1,51):
    query = f"insert into person(id, name) values({i},'{names.get_full_name()}')"
    cur.execute(query)
con.commit()