In [1]:
res=10+20/5*3
print(res)

22.0

In [2]:
#Bodmas

In [3]:
20/5

4.0

In [4]:
res=10+4.0*3

In [8]:
4.0*3

12.0

In [9]:
res=10+12.0
print(res)

22.0

In [10]:
res=10+20/(5*3)
print(5*3)

15

In [11]:
res=10+20/15
print(20/15)

1.3333333333333333

In [12]:
res=10+1.333333
print(res)

11.333333

In [14]:
res=10+20/(5*3)
print(res)

11.333333333333334

In [15]:
a=10
b=20
# a square+ b square + 2ab

In [16]:
a=10
b=20
print(a**2+b**2+2*a*b)

900

In [17]:
a=10
b=20
print(a**2+b**2+2*a*b)
print(a+b**2)

900
410

In [18]:
a=10
b=20
print(a**2+b**2+2*a*b)
print((a+b)**2)

900
900

In [19]:
a=10
b=20
print(a**2+b**2+2*a*b)
print((a+b)**2)
print((a+b)*(a+b))

900
900
900

In [20]:
# write a code for 3 versions of a+b whole qube
a=10
b=20
print(a**3+b**3+3*a**2*b+3*a*b**2)
print((a+b)**3)
print(a**3+b**3+3*a*b*(a+b))

27000
27000
27000

In [21]:
number1=input("Enter number1:")
print(number1, type(number1))

Enter number1:python
python <class 'str'>

In [22]:
number1=input("Enter number1:")
print(number1, type(number1))

Enter number1:1000
1000 <class 'str'>

In [23]:
number1=input("Enter number1:")
print(number1, type(number1))

Enter number1:12.34
12.34 <class 'str'>

In [24]:
a="12.34"
print(a, type(a))
b=12.34
print(b, type(b))

12.34 <class 'str'>
12.34 <class 'float'>

In [25]:
#WAP to add two numbers
n1 = input("Enter number1:")
n2 = input("Enter number2:")
print(n1+n2)

Enter number1:10
Enter number2:20
1020

In [26]:
#WAP to add two numbers
n1 = input("Enter number1:")
n2 = input("Enter number2:")
print(n1, type(n1))
print(n2, type(n2))
print(n1+n2)

Enter number1:12
Enter number2:34
12 <class 'str'>
34 <class 'str'>
1234

In [27]:
#WAP to add two numbers
n1 = input("Enter number1:")
n2 = input("Enter number2:")
print(n1, type(n1))
print(n2, type(n2))
n1=int(n1)
n2=int(n2)
print("after cinversion")
print(n1, type(n1))
print(n2, type(n2))
print(n1+n2)

Enter number1:12
Enter number2:34
12 <class 'str'>
34 <class 'str'>
after cinversion
12 <class 'int'>
34 <class 'int'>
46

In [28]:
#WAP to add two numbers
n1 = input("Enter number1:")
n2 = input("Enter number2:")
print(n1, type(n1))
print(n2, type(n2))
n1=float(n1)
n2=float(n2)
print("after cinversion")
print(n1, type(n1))
print(n2, type(n2))
print(n1+n2)

Enter number1:12
Enter number2:34
12 <class 'str'>
34 <class 'str'>
after cinversion
12.0 <class 'float'>
34.0 <class 'float'>
46.0

In [29]:
#WAP to add two numbers
n1 = input("Enter number1:")
n2 = input("Enter number2:")
print(n1, type(n1))
print(n2, type(n2))
n1=float(n1)
n2=float(n2)
print("after cinversion")
print(n1, type(n1))
print(n2, type(n2))
print(n1+n2)

Enter number1:1.23
Enter number2:34.56
1.23 <class 'str'>
34.56 <class 'str'>
after cinversion
1.23 <class 'float'>
34.56 <class 'float'>
35.79

In [30]:
#WAP to add two numbers
n1 = input("Enter number1:")
n2 = input("Enter number2:")
print(n1, type(n1))
print(n2, type(n2))
n1=float(n1)
n2=float(n2)
print("after cinversion")
print(n1, type(n1))
print(n2, type(n2))
print(n1+n2)

Enter number1:ada
Enter number2:wew
ada <class 'str'>
wew <class 'str'>

ValueError: could not convert string to float: 'ada'

In [32]:
a=12.34
print(int(a))

12

In [33]:
a="12.34"
print(int(a))

ValueError: invalid literal for int() with base 10: '12.34'

In [34]:
a=12.34
print(str(a))

12.34

In [36]:
a=12.34
b=str(a)
print(b, type(b))

12.34 <class 'str'>

In [37]:
ord("a")

97

In [38]:
chr(97)

'a'

In [42]:
a="123"
b=int(a)
c=float(a)
print(b, type(b),c, type(c))

123 <class 'int'> 123.0 <class 'float'>

In [43]:
a=144
print(a**2)

20736

In [44]:
a=144
print(a**0.5)

12.0

In [45]:
import math
math.sqrt(144)

12.0

In [46]:
import math as mth
mth.sqrt(144)

12.0