In [ ]:
a=1000
b=2000
c=1000
d=a
name="jayaram"
name1=name
l=[a,b,3000,name,"python"]
k=l

In [1]:
a=1000
b=1000
print(a,id(a))
print(b, id(b))

1000 2213491217840
1000 2213491217936

In [2]:
a=1000
c="a"
d=a
print(a,c,d)

1000 a 1000

In [3]:
c=python

NameError: name 'python' is not defined

In [4]:
c="python"
print(c)

python

In [5]:
python="A programing language."
print(python)
c=python
print(c)

A programing language.
A programing language.

In [6]:
a=1000
c=a
print(a,id(a))
print(c,id(c))

1000 2213491218800
1000 2213491218800

In [7]:
a=1000
c=1000
print(a,id(a))
print(c,id(c))

1000 2213491217424
1000 2213491218448

In [10]:
name="jayaram"
print(name, id(name), type(name))

jayaram 2213491439984 <class 'str'>

In [11]:
name="jayaram"
print(name[0], id(name[0]), type(name[0]))

j 2213426124208 <class 'str'>

In [12]:
name="jayaram"
print(name[1], id(name[1]), type(name[1]))
print(name[3], id(name[3]), type(name[3]))
print(name[5], id(name[5]), type(name[5]))

a 2213424255664 <class 'str'>
a 2213424255664 <class 'str'>
a 2213424255664 <class 'str'>

In [13]:
s="pot"
s1="apple"
print(s[0],id(s[0]))
print(s1[1], id(s1[1]))

p 2213422778864
p 2213422778864

In [14]:
name="jayaram"
name1=name
print(name1)

jayaram

In [15]:
name="jayaram"
name1=name[3]
print(name1)

a

In [16]:
a=1000
b=2000
c=1000
d=a
name="jayaram"
name1=name
l=[a,b,3000,name,"python"]
k=l

In [18]:
print(l, id(l),type(l))

[1000, 2000, 3000, 'jayaram', 'python'] 2213491215552 <class 'list'>

In [ ]:
a=2000
b=a
c=1000+a
s="orange"
s1=s
l=[1000,2000,c]

In [19]:
k=[2,3,4]
l=[1,2,[4,5,6],k]
k[0]=1000
print(l)

[1, 2, [4, 5, 6], [1000, 3, 4]]