In [1]:
print("sdfdsf")

sdfdsf

In [2]:
a=200

In [3]:
name="Jayaram"
age=3
weight=17.542352
height=2.78653
print("We are talking about jayaram, he is 3 ears old, he has 17.54 kg weight and 2.79 Feet height.")

We are talking about jayaram, he is 3 ears old, he has 17.54 kg weight and 2.79 Feet height.

In [4]:
name="jayaram"
print("name")

name

In [5]:
name="jayaram"
print("name",name)

name jayaram

In [6]:
name_product="apple"
cost=10
print(name_product, cost)

apple 10

In [7]:
name_product="apple"
cost=10
discount=34
color="red"
print(name_product, cost, color, discount)

apple 10 red 34

In [8]:
name_product="apple"
cost=10
discount=34
color="red"
print(name_product, cost, color, discount,sep="==>")

apple==>10==>red==>34

In [9]:
name_product="apple"
cost=10
discount=34
color="red"
print(name_product, cost, color, discount,sep="ABC")

appleABC10ABCredABC34

In [10]:
print("there are heavy rains in hyderabad")
print("Not only in Hyderabad, all over telangana")
print("But we should not stop learning..")

there are heavy rains in hyderabad
Not only in Hyderabad, all over telangana
But we should not stop learning..

In [11]:
print("there are heavy rains in hyderabad. Not only in Hyderabad, all over telangana. But we should not stop learning..")

there are heavy rains in hyderabad. Not only in Hyderabad, all over telangana. But we should not stop learning..

In [12]:
print("there are heavy rains in hyderabad", end=" ")
print("Not only in Hyderabad, all over telangana",end=" ")
print("But we should not stop learning..")

there are heavy rains in hyderabad Not only in Hyderabad, all over telangana But we should not stop learning..

In [13]:
print("there are heavy rains in hyderabad. Not only in Hyderabad, all over telangana. But we should not stop learning..")

there are heavy rains in hyderabad. Not only in Hyderabad, all over telangana. But we should not stop learning..

In [14]:
print("there are heavy rains in hyderabad.\n Not only in Hyderabad, all over telangana.\n But we should not stop learning..")

there are heavy rains in hyderabad.
 Not only in Hyderabad, all over telangana.
 But we should not stop learning..

In [15]:
print("\n")

In [16]:
s="\n"
print(len(s))

1

In [18]:
print(len("\n"))

1

In [19]:
print("sdfsdfsd\nsdfsdfsdf\tsdfsdfsd\ssdfsdfsdf\bsdfsdfsd")

sdfsdfsd
sdfsdfsdf	sdfsdfsd\ssdfsdfsdfsdfsdfsd

In [20]:
print("\b")



In [21]:
s="sdfsdf\nsdfdsf\nsdfsd\tsfdsf\nsdfds\tsdfdsfnsdfsdf\tsdfdsfsd\nsdfsdf\t"
print(s)

sdfsdf
sdfdsf
sdfsd	sfdsf
sdfds	sdfdsfnsdfsdf	sdfdsfsd
sdfsdf

In [22]:
s="sdfsdf\\nsdfdsf\\nsdfsd\\tsfdsf\\nsdfds\\tsdfdsfnsdfsdf\\tsdfdsfsd\\nsdfsdf\\t"
print(s)

sdfsdf\nsdfdsf\nsdfsd\tsfdsf\nsdfds\tsdfdsfnsdfsdf\tsdfdsfsd\nsdfsdf\t

In [24]:
print(len("\\n"))

2

In [25]:
s='sdfsdf\nsdfdsf\nsdfsd\tsfdsf\nsdfds\tsdfdsfnsdfsdf\tsdfdsfsd\nsdfsdf\t'
print(s)

sdfsdf
sdfdsf
sdfsd	sfdsf
sdfds	sdfdsfnsdfsdf	sdfdsfsd
sdfsdf

In [26]:
s=r"sdfsdf\nsdfdsf\nsdfsd\tsfdsf\nsdfds\tsdfdsfnsdfsdf\tsdfdsfsd\nsdfsdf\t"
print(s)

sdfsdf\nsdfdsf\nsdfsd\tsfdsf\nsdfds\tsdfdsfnsdfsdf\tsdfdsfsd\nsdfsdf\t

In [27]:
s="python"
s1=r"python"
print(type(s), type(s1))

<class 'str'> <class 'str'>

In [ ]:
s="sdfsdf\nsdfdsf\nsdfsd\tsfdsf\nsdfds\tsdfdsfnsdfsdf\tsdfdsfsd\nsdfsdf\t"
print(s)

In [28]:
print("there are heavy rains in 'hyderabad'.\n Not only in Hyderabad, all over telangana.\n But we should not stop learning..")

there are heavy rains in 'hyderabad'.
 Not only in Hyderabad, all over telangana.
 But we should not stop learning..

In [29]:
print('there are heavy rains in hyderabad.\n Not only in Hyderabad, all over "telangana".\n But we should not stop learning..')

there are heavy rains in hyderabad.
 Not only in Hyderabad, all over "telangana".
 But we should not stop learning..

In [30]:
print("there are heavy rains in 'hyderabad'.\n Not only in Hyderabad, all over "telangana".\n But we should not stop learning..")

SyntaxError: invalid syntax (<ipython-input-30-4f8b45d6b440>, line 1)

In [31]:
name="jayaram"
print("name"name)

SyntaxError: invalid syntax (<ipython-input-31-26afdebc9ab3>, line 2)

In [32]:
name="jayaram"
print("name",name)

name jayaram

In [33]:
print("there are heavy rains in 'hyderabad'.\n Not only in Hyderabad, all over \"telangana\".\n But we should not stop learning..")

there are heavy rains in 'hyderabad'.
 Not only in Hyderabad, all over "telangana".
 But we should not stop learning..

In [34]:
name="Jayaram"
age=3
weight=17.542352
height=2.78653
print("We are talking about ",name,", he is ",age," ears old, he has ",weight," kg weight and ",height," Feet height.")

We are talking about  Jayaram , he is  3  ears old, he has  17.542352  kg weight and  2.78653  Feet height.

In [35]:
name="Jayaram"
age=3
weight=17.542352
height=2.78653
s="We are talking about ",name,", he is ",age," ears old, he has ",weight," kg weight and ",height," Feet height."
print(s, type(s))

('We are talking about ', 'Jayaram', ', he is ', 3, ' ears old, he has ', 17.542352, ' kg weight and ', 2.78653, ' Feet height.') <class 'tuple'>

In [38]:
name="Jayaram"
age=3
weight=17.542352
height=2.78653
s="We are talking about name. he is age ears old, he has weight kg weight and height Feet height."
print(s)

We are talking about name. he is age ears old, he has weight kg weight and height Feet height.

In [39]:
name="Jayaram"
age=3
weight=17.542352
height=2.78653
s="We are talking about {name}. he is {age} ears old, he has {weight} kg weight and {height} Feet height."
print(s)

We are talking about {name}. he is {age} ears old, he has {weight} kg weight and {height} Feet height.

In [40]:
name="Jayaram"
age=3
weight=17.542352
height=2.78653
#template string
s=f"We are talking about {name}. he is {age} ears old, he has {weight} kg weight and {height} Feet height."
print(s)

We are talking about Jayaram. he is 3 ears old, he has 17.542352 kg weight and 2.78653 Feet height.

In [41]:
s=f"{10+20}"
print(s)

30

In [42]:
name="Jayaram"
age=3
weight=17.542352
height=2.78653
#template string
s=f"We are talking about {name}. he is {age} ears old, he has {round(weight,2)} kg weight and {round(height,2)} Feet height."
print(s)

We are talking about Jayaram. he is 3 ears old, he has 17.54 kg weight and 2.79 Feet height.

In [43]:
round(10.2233423423,3)

10.223

In [44]:
round(10.2233423423)

10

In [45]:
round(10.52233423423)

11

In [46]:
round?

In [47]:
name="Jayaram"
age=3
weight=17.542352
height=2.78653
#template string
s=f"We are talking about {name}. he is {age} ears old, he has {round(weight,2)} kg weight and {round(height,2)} Feet height."
print(s)
# strugling for localization

We are talking about Jayaram. he is 3 ears old, he has 17.54 kg weight and 2.79 Feet height.

In [ ]:
name="Jayaram"
age=3
weight=17.542352
height=2.78653
#format specifiers
s="We are talking about %s. he is %s ears old, he has %s kg weight and %s Feet height.",
print(s)
# strugling for localization

In [48]:
name="apple"
cost=10
print("%s,%s",name,cost)

%s,%s apple 10

In [49]:
name="apple"
cost=10
print("%s,%s"%(name,cost))

apple,10

In [50]:
name="apple"
cost=10
dis=23
print("%s,%s"%(name,cost,dis))

TypeError: not all arguments converted during string formatting

In [51]:
name="apple"
cost=10
dis=23
print("%s,%s,%s,%s"%(name,cost,dis))

TypeError: not enough arguments for format string

In [52]:
name="apple"
cost=10
dis=23
print("%s,%s,%s"%(name,cost,dis))

apple,10,23

In [57]:
name="Jayaram"
age=3
weight=17.542352
height=2.78653
#format specifiers
s="We are talking about %s. he is %s years old, he has %s kg weight and %s Feet height."%(name, age, weight, height)
print(s)

We are talking about Jayaram. he is 3 years old, he has 17.542352 kg weight and 2.78653 Feet height.

In [58]:
name="Jayaram"
age=3
weight=17.542352
height=2.78653
#format specifiers
s="We are talking about %s. he is %s years old, he has %s kg weight and %s Feet height."%(age,name, weight, height)
print(s)

We are talking about 3. he is Jayaram years old, he has 17.542352 kg weight and 2.78653 Feet height.

In [59]:
name="Jayaram"
age=3
weight=17.542352
height=2.78653
#format specifiers
s="We are talking about %s. he is %s years old, he has %s kg weight and %s Feet height."%(name, age, weight, height)
print(s)

We are talking about Jayaram. he is 3 years old, he has 17.542352 kg weight and 2.78653 Feet height.

In [60]:
name="Jayaram"
age=3
weight=17.542352
height=2.78653
#format specifiers
s="We are talking about %s. he is %d years old, he has %d kg weight and %d Feet height."%(name, age, weight, height)
print(s)

We are talking about Jayaram. he is 3 years old, he has 17 kg weight and 2 Feet height.

In [61]:
name="Jayaram"
age=3
weight=17.542352
height=2.78653
#format specifiers
s="We are talking about %s. he is %d years old, he has %f kg weight and %f Feet height."%(name, age, weight, height)
print(s)

We are talking about Jayaram. he is 3 years old, he has 17.542352 kg weight and 2.786530 Feet height.

In [62]:
name="Jayaram"
age=3
weight=17.542352
height=2.78653
#format specifiers
s="We are talking about %s. he is %d years old, he has %.2f kg weight and %.2f Feet height."%(name, age, weight, height)
print(s)

We are talking about Jayaram. he is 3 years old, he has 17.54 kg weight and 2.79 Feet height.

In [63]:
print("%i"%10.23)

10

In [64]:
print("%g"%10.23)

10.23

In [65]:
print("%gs"%10.23)

10.23s

In [66]:
print("%ws"%10.23)

ValueError: unsupported format character 'w' (0x77) at index 1

In [73]:
for i in range(ord("a"),ord("z")):
    c="%"+chr(i)
    try:
        print(c%23)
    except:
        pass
    else:
        print("worked for %s"%c)

23
worked for %a

worked for %c
23
worked for %d
2.300000e+01
worked for %e
23.000000
worked for %f
23
worked for %g
23
worked for %i
27
worked for %o
23
worked for %r
23
worked for %s
23
worked for %u
17
worked for %x

In [74]:
s=23
print("%f"%s)

23.000000

In [75]:
a=2589
print("%o"%a)# converts to octal

5035

In [76]:
a=2589
print("%x"%a)# converts to hexadecimal

a1d

In [77]:
a=2589
print("%X"%a)# converts to hexadecimal

A1D

In [78]:
s="sddfsdfsd\nsfds\nfsdfsd\nsfsdf\nsdfds\nsdfds\nfsdf"
print(s)

sddfsdfsd
sfds
fsdfsd
sfsdf
sdfds
sdfds
fsdf

In [79]:
s="sddfsdfsd\nsfds\nfsdfsd\nsfsdf\nsdfds\nsdfds\nfsdf"
print(s)

sddfsdfsd\nsfds\nfsdfsd\nsfsdf\nsdfds\nsdfds\nfsdf

In [80]:
s="sddfsdfsd\nsfds\nfsdfsd\nsfsdf\nsdfds\nsdfds\nfsdf"
print("%r" %s)# converts normal string to raw string.

'sddfsdfsd\nsfds\nfsdfsd\nsfsdf\nsdfds\nsdfds\nfsdf'

In [81]:
print("""
Kinds of mobiles availabble in the store
    1. Android
    2. windows
    3. Mac
    4. All tabs
Enter an option: 1-> goto second floor: 2-> goto first follr: 3->goto third floor: 4-> goto groud floor.
if they enter any other number or char: We are not providing service for the selection.
"""

Kinds of mobiles availabble in the store
    1. Android
    2. windows
    3. Mac
    4. All tabs
Enter an option: 1-> goto second floor: 2-> goto first follr: 3->goto third floor: 4-> goto groud floor.
if they enter any other number or char: We are not providing service for the selection.