In [1]:
person = {"name":"jay","age":4,"weight":17}
address = {"city":"Hyderabad", "state":"Telanagana","country":"India","street":"Devendernagar"}
print(person+address)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [2]:
person = {"name":"jay","age":4,"weight":17}
address = {"city":"Hyderabad", "state":"Telanagana","country":"India","street":"Devendernagar"}
print(person-address)

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

In [3]:
person = {"name":"jay","age":4,"weight":17}
address = {"city":"Hyderabad", "state":"Telanagana","country":"India","street":"Devendernagar"}
print(person*address)

TypeError: unsupported operand type(s) for *: 'dict' and 'dict'

In [4]:
person = {"name":"jay","age":4,"weight":17}
address = {"city":"Hyderabad", "state":"Telanagana","country":"India","street":"Devendernagar"}
print(person>address)

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [5]:
person = {"name":"jay","age":4,"weight":17}
address = {"city":"Hyderabad", "state":"Telanagana","country":"India","street":"Devendernagar"}
print(person<address)

TypeError: '<' not supported between instances of 'dict' and 'dict'

In [6]:
person = {"name":"jay","age":4,"weight":17}
address = {"city":"Hyderabad", "state":"Telanagana","country":"India","street":"Devendernagar"}
print(person==address)

False

In [7]:
person1 = {"name":"jay","age":4,"weight":17}
person2 = {"name":"jay","age":4,"weight":17}
print(person==person2)

True

In [8]:
person1 = {"name":"jay","age":4,"weight":17}
person2 = {"name":"jay","weight":17,"age":4}
print(person==person2)

True

In [9]:
person1 = {"name":"jay","age":4,"weight":17}
person2 = {"name":"jay","weight":17,"age":4,"height":"34"}
print(person==person2)

False

In [10]:
person1 = {"name":"jay","age":4,"weight":17}
for i in person1:
    print(i)

name
age
weight

In [11]:
person1 = {"name":"jay","age":4,"weight":17}
for i in person1.values():
    print(i)

jay
4
17

In [12]:
person1 = {"name":"jay","age":4,"weight":17}
for i in person1.items():
    print(i)

('name', 'jay')
('age', 4)
('weight', 17)

In [13]:
t=('name', 'jay')
key,value=t
print(key)
print(value)

name
jay

In [14]:
person1 = {"name":"jay","age":4,"weight":17}
for key,value in person1.items():
    print(key, value)

name jay
age 4
weight 17

In [16]:
person1 = {"name":"jay","age":4,"weight":17}
print(person1.get("name"))
print(person1["name"])
print("%(name)s"%person1)
print("{name}".format_map(person1))

jay
jay
jay
jay

In [17]:
person1 = {"name":"jay","age":4,"weight":17}
print(person1.get("age"))
print(person1["age"])
print("%(age)s"%person1)
print("{age}".format_map(person1))

4
4
4
4

In [18]:
person1 = {"name":"jay","age":4,"weight":17}
print(person1.get("phone"))
print(person1["phone"])
print("%(phone)s"%person1)
print("{phone}".format_map(person1))

None

KeyError: 'phone'

In [19]:
person1 = {"name":"jay","age":4,"weight":17}
print(person1.get("phone"))
#print(person1["phone"])
print("%(phone)s"%person1)
print("{phone}".format_map(person1))

None

KeyError: 'phone'

In [20]:
person1 = {"name":"jay","age":4,"weight":17}
print(person1.get("phone"))
#print(person1["phone"])
#print("%(phone)s"%person1)
print("{phone}".format_map(person1))

None

KeyError: 'phone'

In [21]:
person1 = {"name":"jay","age":4,"weight":17}
print(person1.get("phone"))

None

In [22]:
person1 = {"name":"jay","age":4,"weight":17}
print(person1.get("phone","XX-XXXX-XXXX"))

XX-XXXX-XXXX

In [23]:
person1 = {"name":"jay","age":4,"weight":17}
print(person1.get("name","XX-XXXX-XXXX"))

jay

In [24]:
person = {"name":"jay","age":4,"weight":17}
person["phone"] = "9676622023"
print(person)

{'name': 'jay', 'age': 4, 'weight': 17, 'phone': '9676622023'}

In [25]:
person = {"name":"jay","age":4,"weight":17}
person["phone"] = "9676622023"
person["email"] = "samba@gmail.com"
print(person)

{'name': 'jay', 'age': 4, 'weight': 17, 'phone': '9676622023', 'email': 'samba@gmail.com'}

In [26]:
person = {"name":"jay","age":4,"weight":17}
other_details = {"phone":"9676622023","email":"samba@gmail.com"}
person.update(other_details)
print(person)

{'name': 'jay', 'age': 4, 'weight': 17, 'phone': '9676622023', 'email': 'samba@gmail.com'}

In [27]:
person = {"name":"jay","age":4,"weight":17}
other_details = {"phone":"9676622023","email":"samba@gmail.com","name":"JAYARAM"}
person.update(other_details)
print(person)

{'name': 'JAYARAM', 'age': 4, 'weight': 17, 'phone': '9676622023', 'email': 'samba@gmail.com'}

In [28]:
person = {"name":"jay","age":4,"weight":17}
person.setdefault("phone","9676622023")
print(person)

{'name': 'jay', 'age': 4, 'weight': 17, 'phone': '9676622023'}

In [29]:
person = {"name":"jay","age":4,"weight":17}
person.setdefault("name","JAYARAM")
print(person)

{'name': 'jay', 'age': 4, 'weight': 17}

In [30]:
person = {"name":"jay","age":4,"weight":17}
value=person.pop("age")
print(value)
print(person)

4
{'name': 'jay', 'weight': 17}

In [31]:
person = {"name":"jay","age":4,"weight":17}
value=person.pop("phone")
print(value)
print(person)

KeyError: 'phone'

In [32]:
person = {"name":"jay","age":4,"weight":17}
value=person.pop("phone", "XX-XXXX-XXXX")
print(value)
print(person)

XX-XXXX-XXXX
{'name': 'jay', 'age': 4, 'weight': 17}

In [33]:
person = {"name":"jay","age":4,"weight":17}
item = person.popitem()
print(item)
print(person)

('weight', 17)
{'name': 'jay', 'age': 4}

In [34]:
person = {}
item = person.popitem()
print(item)
print(person)

KeyError: 'popitem(): dictionary is empty'

In [35]:
person = {"name":"jay","age":4,"weight":17}
p1=person# p1 and person refering the same object in the memory
p1["phone"]="9676622023"
print(person)

{'name': 'jay', 'age': 4, 'weight': 17, 'phone': '9676622023'}

In [36]:
person = {"name":"jay","age":4,"weight":17}
p1=person.copy()# p1 and person refering the two different objects in the memory
p1["phone"]="9676622023"
print(person)

{'name': 'jay', 'age': 4, 'weight': 17}

In [37]:
person = {"name":"jay","age":4,"weight":17}
person.clear()
print(person)

{}

In [ ]:
l=[{"name":"jay","age":30},{"name":"vedha","age":29},{"name":"sai","age":32}]
#l=[{"name":"jay","age":30,"phone":"9676622023"},{"name":"vedha","age":29,"phone":"9676622024"},{"name":"sai","age":32,"phone":"9676622025"}]
phone_numbers=["9676622023","9676622024","9676622025"]

In [38]:
l=[{"name":"jay","age":30},{"name":"vedha","age":29},{"name":"sai","age":32}]
i=l[0]
print(i)

{'name': 'jay', 'age': 30}

In [39]:
l=[{"name":"jay","age":30},{"name":"vedha","age":29},{"name":"sai","age":32}]
i=l[0]# 0th index and i are refering the same object.
print(i)
i["phone"]="9676622023"
print(l)

{'name': 'jay', 'age': 30}
[{'name': 'jay', 'age': 30, 'phone': '9676622023'}, {'name': 'vedha', 'age': 29}, {'name': 'sai', 'age': 32}]

In [40]:
l=[10,20,30,40,]
for i in l:
    print(i)

10
20
30
40

In [41]:
l=[10,20,30,40,]
for i in enumerate(l):
    print(i)

(0, 10)
(1, 20)
(2, 30)
(3, 40)

In [42]:
l=[10,20,30,40,]
for index,value in enumerate(l):
    print(index,value)

0 10
1 20
2 30
3 40

In [43]:
l=[{"name":"jay","age":30},{"name":"vedha","age":29},{"name":"sai","age":32}]
for index,value in enumerate(l):
    print(index,value)

0 {'name': 'jay', 'age': 30}
1 {'name': 'vedha', 'age': 29}
2 {'name': 'sai', 'age': 32}

In [44]:
l=[{"name":"jay","age":30},{"name":"vedha","age":29},{"name":"sai","age":32}]
phone_numbers=["9676622023","9676622024","9676622025"]
for index,value in enumerate(l):
    print(phone_numbers[index],value)

9676622023 {'name': 'jay', 'age': 30}
9676622024 {'name': 'vedha', 'age': 29}
9676622025 {'name': 'sai', 'age': 32}

In [45]:
l=[{"name":"jay","age":30},{"name":"vedha","age":29},{"name":"sai","age":32}]
phone_numbers=["9676622023","9676622024","9676622025"]
for index,value in enumerate(l):
    value["phone"]=phone_numbers[index]
print(l)

[{'name': 'jay', 'age': 30, 'phone': '9676622023'}, {'name': 'vedha', 'age': 29, 'phone': '9676622024'}, {'name': 'sai', 'age': 32, 'phone': '9676622025'}]

In [47]:
names=["jay","vedha","sai"]
ages=[30,29,32]
res=[]
for index,name in enumerate(names):
    res.append({"name":name,"age":ages[index]})
print(res)

[{'name': 'jay', 'age': 30}, {'name': 'vedha', 'age': 29}, {'name': 'sai', 'age': 32}]

In [48]:
dict(name="jay",age=32)

{'name': 'jay', 'age': 32}

In [49]:
dict([("name","jay"),("age",32),("phone","9676622023"),("email","samba@gmail.com")])

{'name': 'jay', 'age': 32, 'phone': '9676622023', 'email': 'samba@gmail.com'}

In [50]:
keys=["name","age","phone","email"]
values=["jay",32,"9676622023","samba@gmail.com"]
print(zip(keys,values))

<zip object at 0x0000028394B4BE00>

In [51]:
keys=["name","age","phone","email"]
values=["jay",32,"9676622023","samba@gmail.com"]
print(list(zip(keys,values)))

[('name', 'jay'), ('age', 32), ('phone', '9676622023'), ('email', 'samba@gmail.com')]

In [52]:
keys=["name","age","phone","email"]
values=["jay",32,"9676622023","samba@gmail.com"]
dict(zip(keys,values))

{'name': 'jay', 'age': 32, 'phone': '9676622023', 'email': 'samba@gmail.com'}

In [ ]:
#defaultdict?
#set theory?

In [ ]:
scores={"rohit":50,"rahul":60,"kishan":50,"surya":60}
#{50:["rohit","kishan"],60:["surya","rahul"]}

In [1]:
scores={"rohit":50,"rahul":60,"kishan":50,"surya":60}

In [2]:
d={(1,2,3):"saddasf"}

In [3]:
d={[1,2,3]:"sdfsdf"}

TypeError: unhashable type: 'list'

In [4]:
l=[1,2,3]

In [6]:
l.append(4)

In [7]:
scores={"rohit":50,"rahul":60,"kishan":50,"surya":60}
values = list(scores.values())
print(values)

[50, 60, 50, 60]

In [10]:
#{50:["rohit","kishan"],60:["surya","rahul"]}
scores={"rohit":50,"rahul":60,"kishan":50,"surya":60}
values = list(scores.values())
res_keys=[]
for i in values:
    if i not in res:
        res_keys.append(i)
res = {}
for key in res_keys:
    res[key]=[]
    for key1,value1 in scores.items():
        if value1 == key:
            res[key].append(key1)
            
print(res)

{50: ['rohit', 'kishan'], 60: ['rahul', 'surya']}

In [11]:
d1={}
d2 = d1.fromkeys([1,2,3],[])
print(d2)

{1: [], 2: [], 3: []}

In [14]:
#{50:["rohit","kishan"],60:["surya","rahul"]}
scores={"rohit":50,"rahul":60,"kishan":50,"surya":60}
values = list(scores.values())
res_keys=[]
d1={}
for i in values:
    if i not in res:
        res_keys.append(i)
res = d1.fromkeys(res_keys,[])
print(res)

{50: [], 60: []}

In [17]:
#{50:["rohit","kishan"],60:["surya","rahul"]}
scores={"rohit":50,"rahul":60,"kishan":50,"surya":60}
values = list(scores.values())
res_keys=[]
d1={}
for i in values:
    if i not in res:
        res_keys.append(i)
res = d1.fromkeys(res_keys,[])
print(res)
for key,value in scores.items():
    res[value].append(key)
print(res)

{50: [], 60: []}
{50: ['rohit', 'rahul', 'kishan', 'surya'], 60: ['rohit', 'rahul', 'kishan', 'surya']}

In [18]:
res = d1.fromkeys(res_keys,[])
print(id(res[50]))
print(id(res[60]))

2492838192320
2492838192320

In [20]:
#{50:["rohit","kishan"],60:["surya","rahul"]}
scores={"rohit":50,"rahul":60,"kishan":50,"surya":60}
values = list(scores.values())
res_keys=[]
for i in values:
    if i not in res:
        res_keys.append(i)
res={}
for key in res_keys:
    res[key]=[]
for key,value in scores.items():
    res[value].append(key)
print(res)

{50: ['rohit', 'kishan'], 60: ['rahul', 'surya']}

In [21]:
d={"name":"sdf","age":"sddfd"}
d.get("name")

'sdf'

In [23]:
d={"name":"sdf","age":"sddfd"}
print(d.get("sdfds"))

None

In [25]:
d={"name":"sdf","age":"sddfd"}
print(d.get("sdfsdfwefw","values1"))

values1

In [27]:
scores={"rohit":50,"rahul":60,"kishan":50,"surya":60}
from collections import defaultdict

In [28]:
d1=defaultdict(list)
print(d1)

defaultdict(<class 'list'>, {})

In [29]:
d1[1]

[]

In [30]:
d1[2]

[]

In [31]:
d1[3]

[]

In [32]:
d1[2335456789]

[]

In [33]:
d1["sdfsdgrwerwegsdgsd"]

[]

In [34]:
scores={"rohit":50,"rahul":60,"kishan":50,"surya":60}
from collections import defaultdict
res= {}#defaultdict(list)
for key,value in scores.items():
    res[value].append(key)

KeyError: 50

In [35]:
scores={"rohit":50,"rahul":60,"kishan":50,"surya":60}
from collections import defaultdict
res= defaultdict(list)
for key,value in scores.items():
    res[value].append(key)
print(res)

defaultdict(<class 'list'>, {50: ['rohit', 'kishan'], 60: ['rahul', 'surya']})

In [36]:
res=defaultdict(str)
print(res[12])

In [37]:
res=defaultdict(int)
print(res[12])

0

In [38]:
salaries=[100000,150000,200000,250000]

In [39]:
import names

In [40]:
names.get_first_name()

'Steven'

In [41]:
salaries=[100000,150000,200000,250000]
import random

In [42]:
random.choice(salaries)

250000

In [43]:
random.choice(salaries)

150000

In [44]:
random.choice(salaries)

250000

In [45]:
import random
import names
salaries=[100000,150000,200000,250000]
data={}
for i in range(50):
    data[names.get_full_name()]=random.choice(salaries)
print(data)

{'Shellie Petty': 200000, 'Karena Teixeira': 100000, 'Britt Nelson': 200000, 'Katelyn Fix': 250000, 'Thomas Knickrehm': 250000, 'Richard Kremen': 100000, 'Barbara Bonifant': 200000, 'Helene Schoepp': 250000, 'Phil Desch': 100000, 'Mary Moore': 150000, 'Mike Reinhart': 200000, 'Robert Bignall': 150000, 'Melissa Stone': 100000, 'David Feenstra': 250000, 'Yolande Williams': 100000, 'Wanda Willoughby': 250000, 'Kari Gosnell': 150000, 'Ruth Flemming': 100000, 'Bernard Whitaker': 100000, 'Barbara Hall': 100000, 'Bertie Garcia': 200000, 'Richard Arnold': 200000, 'Robert Avallone': 250000, 'Alexander Levy': 200000, 'Cheryl Johnson': 200000, 'Edwin Kessler': 250000, 'David Griggs': 200000, 'Sarah King': 100000, 'Christy Walker': 200000, 'Stephanie Stone': 150000, 'Concepcion Andrus': 150000, 'Howard Llamas': 100000, 'Travis Edward': 150000, 'Richard Pastian': 150000, 'Jean Reid': 150000, 'Evan Brimage': 100000, 'Timothy Yost': 100000, 'Judi Hood': 200000, 'Troy Sprenkle': 100000, 'Joel Spencer': 200000, 'Carl Stoops': 250000, 'Raymond Douglas': 100000, 'Gina Colunga': 150000, 'Kimberly Ryans': 100000, 'Maude Lopez': 250000, 'Shanna Parker': 250000, 'Grace Treadwell': 250000, 'Pamela Whitaker': 150000, 'Teresa Birchall': 200000, 'Janis Martin': 200000}

In [49]:
import random
import names
salaries=[100000,150000,200000,250000]
data={}
for i in range(50):
    data[names.get_full_name()]=random.choice(salaries)
vlaues = list(data.values())
print(values)
for sal in salaries:
    print("%s=%s"%(sal,values.count(sal)))

[50, 60, 50, 60]
100000=0
150000=0
200000=0
250000=0

In [50]:
import random
import names
salaries=[100000,150000,200000,250000]
data={}
for i in range(50):
    data[names.get_full_name()]=random.choice(salaries)
values = list(data.values())
print(values)
for sal in salaries:
    print("%s=%s"%(sal,values.count(sal)))

[150000, 150000, 100000, 100000, 200000, 250000, 100000, 200000, 100000, 150000, 200000, 250000, 200000, 150000, 100000, 100000, 250000, 100000, 250000, 100000, 250000, 250000, 250000, 100000, 100000, 150000, 100000, 250000, 250000, 100000, 150000, 150000, 200000, 200000, 250000, 150000, 200000, 200000, 150000, 150000, 200000, 150000, 100000, 150000, 150000, 250000, 150000, 250000, 200000, 100000]
100000=14
150000=14
200000=10
250000=12

In [ ]:
import random
import names
salaries=[100000,150000,200000,250000]
data={}
for i in range(50):
    data[names.get_full_name()]=random.choice(salaries)
values = list(data.values())
print(values)
for sal in salaries:
    print("%s=%s"%(sal,values.count(sal)))

In [51]:
random.randint(100000,300000)

200459

In [52]:
import random
import names
salaries=[100000,150000,200000,250000]
data={}
for i in range(50):
    data[names.get_full_name()]=random.randint(200000,300000)
print(data)

{'Charles Parente': 291741, 'Howard Mccatty': 245089, 'Lloyd Patterson': 260465, 'Lois Swavely': 282119, 'Andrea Dickerson': 219708, 'Gabriel Koch': 231018, 'William Libby': 243454, 'Rosalie Curtis': 205043, 'Albert Wilson': 299837, 'Shirley Wordsworth': 286203, 'Nathan Salmeron': 215019, 'Christopher Reed': 202713, 'Mildred Wright': 265364, 'Michelle Miller': 292023, 'Robert Reasoner': 254084, 'Traci Thornton': 266462, 'Amanda Studdard': 272268, 'John Mundt': 226179, 'Christopher Arch': 213657, 'Susan Dec': 290804, 'Angela Huberty': 260964, 'James Gurley': 234280, 'Marcella Elliott': 230609, 'Dennis Gonzales': 211248, 'Tyler Mondell': 297039, 'Jason Beausoleil': 239086, 'Kenneth Kivett': 227400, 'Mark Morrison': 255070, 'Amanda Gilchrist': 295770, 'Marsha Jones': 264228, 'Frank Perez': 274096, 'Rafael Kennedy': 203694, 'Daphne James': 277848, 'Ian Cardinal': 212549, 'Zoila Waddill': 215014, 'Ann Adams': 213498, 'Clarence Blevins': 257310, 'Alicia Collins': 284445, 'Henry Lechler': 214321, 'Jeffrey Jesus': 277294, 'Chase Hasty': 210828, 'Donna Kim': 207594, 'Darcy Scott': 211502, 'Chad Daniel': 247270, 'Terry Duboise': 224778, 'Jerry Leveille': 217668, 'Clifton Sandau': 273122, 'Patricia Hillsgrove': 240818, 'Martha Briseno': 264241, 'Jay Davis': 210929}

In [54]:
import random
import names
salaries=[100000,150000,200000,250000]
data={}
for i in range(50):
    data[names.get_full_name()]=random.randint(200000,200001)
res = defaultdict(int)
for key,value in data.items():
    res[value] = res[value]+1
print(res)

defaultdict(<class 'int'>, {200001: 26, 200000: 24})

In [55]:
import random
import names
salaries=[100000,150000,200000,250000]
data={}
for i in range(50):
    data[names.get_full_name()]=random.randint(200000,200001)
print(data)

{'John Lowe': 200001, 'Cruz Wiggs': 200000, 'Heather Bell': 200000, 'Jackie Polycarpe': 200000, 'Jeffery Harrod': 200001, 'Ralph Jones': 200000, 'Shirley Flores': 200000, 'Phyllis Saenz': 200000, 'Oscar Felix': 200000, 'Eva Lahay': 200001, 'Richard Musser': 200000, 'Nathan Hogan': 200001, 'Amy Gonzalez': 200000, 'Robert Rainville': 200001, 'Laura Hill': 200000, 'Jeffrey Clerc': 200001, 'Sandra Sullivan': 200000, 'Rosalee Madrigal': 200000, 'Angelia Platt': 200000, 'John Kilman': 200000, 'Charles Pille': 200000, 'Ruth Self': 200001, 'Karen Varron': 200001, 'Edward Cooper': 200001, 'Gabriel Poirier': 200001, 'Andrea Goodwin': 200000, 'Tracy Gamble': 200000, 'Michael Marak': 200000, 'Bobby Sanchez': 200000, 'Denise Hutchinson': 200000, 'Carl Carrillo': 200001, 'Lise Matuszewski': 200001, 'Jose Robins': 200001, 'Victoria Torre': 200001, 'William Brown': 200001, 'Dawn Schaedler': 200001, 'Dorothy Bandy': 200001, 'Steven Hinojosa': 200001, 'Charles Smith': 200001, 'Ronald Cannon': 200000, 'Nancy Harris': 200000, 'Charles Robbin': 200001, 'Lena Green': 200000, 'Annette Lloyd': 200001, 'Julia Conteh': 200001, 'David Mcfarland': 200001, 'Alfonso Soehl': 200001, 'Robin Casias': 200000, 'Jerry Chenault': 200000, 'Anna Kennedy': 200001}

In [57]:
import random
import names
salaries=[100000,150000,200000,250000]
data={}
for i in range(50):
    data[names.get_full_name()]=random.randint(200000,200001)
from collections import Counter
print(Counter(data))

Counter({'Janet Simmons': 200001, 'Frank Moulden': 200001, 'Kari Seery': 200001, 'John Smartt': 200001, 'Judy Helwig': 200001, 'Audrey Haas': 200001, 'Janie Casey': 200001, 'Harold Nunez': 200001, 'Joey Ingram': 200001, 'Alma Connor': 200001, 'Laurette Brown': 200001, 'Robert Manis': 200001, 'Lucille Weaver': 200001, 'Patrick Rodriquez': 200001, 'Cleveland Plotner': 200001, 'Donna Walker': 200001, 'Nadia Whitsitt': 200001, 'Eugenia Welch': 200001, 'Joan Purvis': 200001, 'Joan Kopp': 200001, 'Kenneth Key': 200001, 'Judy Boyter': 200001, 'Tim Jardine': 200001, 'Gregory Freeman': 200001, 'Robert Bohl': 200001, 'Cynthia Holly': 200001, 'Joseph White': 200001, 'Kristi Miller': 200000, 'Mark Melton': 200000, 'George Dallas': 200000, 'Dorothy Logue': 200000, 'Justin Wynn': 200000, 'Jack Wheeler': 200000, 'Kevin Abrams': 200000, 'Stephen Davis': 200000, 'Adrian Morgan': 200000, 'Elva Volante': 200000, 'Susie Bonneville': 200000, 'Maria Moore': 200000, 'Ella Halsey': 200000, 'Kevin Obrien': 200000, 'Chris Lindley': 200000, 'Tracy Ford': 200000, 'Kenneth Baker': 200000, 'Gwendolyn Campbell': 200000, 'Hillary Harris': 200000, 'Victor Gammon': 200000, 'Manuel Boone': 200000, 'Marianne Starks': 200000, 'Virgil Maohu': 200000})

In [58]:
import random
import names
salaries=[100000,150000,200000,250000]
data={}
for i in range(50):
    data[names.get_full_name()]=random.randint(200000,200001)
from collections import Counter
counter =Counter(data)
print(dir(counter))

['__add__', '__and__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__le__', '__len__', '__lt__', '__missing__', '__module__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_keep_positive', 'clear', 'copy', 'elements', 'fromkeys', 'get', 'items', 'keys', 'most_common', 'pop', 'popitem', 'setdefault', 'subtract', 'update', 'values']

In [60]:
print(counter.most_common())

[('Antonio Starns', 200001), ('Jeffery Walshe', 200001), ('John Ehlert', 200001), ('Betty Harp', 200001), ('Ashley Boatwright', 200001), ('Claudette Oswalt', 200001), ('Rick Zamora', 200001), ('Gladys Jacobs', 200001), ('Elida Carpenter', 200001), ('Susan Lindsey', 200001), ('Troy Sizemore', 200001), ('Charles Kalhorn', 200001), ('Stacey Lee', 200001), ('Virginia Heidt', 200001), ('Caroline Burke', 200001), ('Joanne George', 200001), ('Kim Baker', 200001), ('Michell Mcnitt', 200001), ('Keith Todd', 200001), ('Norma Arnold', 200001), ('Frances Catalan', 200001), ('James Rombough', 200001), ('James Vang', 200001), ('Alfonso Patton', 200001), ('Richard Burroughs', 200001), ('Peggy Lambert', 200001), ('Garrett Moser', 200001), ('Lisa Pearson', 200001), ('Sharon Myers', 200001), ('Daniel Botti', 200001), ('Yvonne Harloff', 200001), ('Carolyn Carr', 200001), ('Anna Harvey', 200001), ('Jennifer Perry', 200001), ('Jeannine Shepard', 200001), ('Julie Mccabe', 200000), ('Hyman Kummer', 200000), ('Carol Rawlins', 200000), ('Ruby Mcgeorge', 200000), ('Julie Dumas', 200000), ('Jason Ho', 200000), ('Michael Breckenridge', 200000), ('Arthur Black', 200000), ('Donna Hill', 200000), ('Leo Welch', 200000), ('Richard Venice', 200000), ('Wendy Dufresne', 200000), ('Shane Seip', 200000), ('Lakeisha Robb', 200000), ('Anne Grimes', 200000)]

In [61]:
counter.elements()]