In [1]:
def fun():
    print("this is fun")

class Emp:
    print("this is class")

this is class

In [2]:
print(Emp)

<class '__main__.Emp'>

In [3]:
def fun():
    print("this is fun")

class Emp:
    print("this is class")
    x=1000
    y=2000
    z=x+y
    print(x,y,z)

this is class
1000 2000 3000

In [4]:
def fun():
    print("this is fun")

class Emp:
    print("this is class")
    x=1000
    y=2000
    z=x+y
    #print(x,y,z)
print(Emp.x,Emp.y,Emp.z)

this is class
1000 2000 3000

In [6]:
def fun():
    print("this is fun")

class Emp:
    pass
Emp.x=1000
Emp.y=2000
Emp.z=Emp.x+Emp.y
print(Emp.z)

3000

In [7]:
class Employee:
    pass
Employee.name="Samba"
Employee.salary=200000
Employee.id=3016

In [8]:
class Employee:
    print("this is class")
print(Employee)# class object

this is class
<class '__main__.Employee'>

In [ ]:
class Employee:
    print("this is class")
print(Employee)# class object
jay=Employee()# data object, jay is the reference of data object
jay.name="Jayaram"
jay.id=3916
jay.salary=200000
vedha = Employee()# data object, vedha is the reference of data object
vedha.name = "Vedhanvesh"
vedha.id=3917
vedha.salary=300000

In [9]:
class Employee:
    print("this is class")
print(Employee)# class object
jay=Employee()# data object, jay is the reference of data object
jay.name="Jayaram"
jay.id=3916
jay.salary=200000
vedha = Employee()# data object, vedha is the reference of data object
vedha.name = "Vedhanvesh"
vedha.id=3917
vedha.salary=300000
print(f"Employee Name:{jay.name}, id:{jay.id}, salary:{jay.salary}")
print(f"Employee Name:{vedha.name}, id:{vedha.id}, salary:{vedha.salary}")

this is class
<class '__main__.Employee'>
Employee Name:Jayaram, id:3916, salary:200000
Employee Name:Vedhanvesh, id:3917, salary:300000

In [10]:
class Employee:
    def get(data_obj):
        print(f"Employee Name:{data_obj.name}, id:{data_obj.id}, salary:{data_obj.salary}")
        
print(Employee)# class object
jay=Employee()# data object, jay is the reference of data object
jay.name="Jayaram"
jay.id=3916
jay.salary=200000
vedha = Employee()# data object, vedha is the reference of data object
vedha.name = "Vedhanvesh"
vedha.id=3917
vedha.salary=300000
Employee.get(jay)
#print(f"Employee Name:{jay.name}, id:{jay.id}, salary:{jay.salary}")
Employee.get(vedha)
#print(f"Employee Name:{vedha.name}, id:{vedha.id}, salary:{vedha.salary}")

<class '__main__.Employee'>
Employee Name:Jayaram, id:3916, salary:200000
Employee Name:Vedhanvesh, id:3917, salary:300000

In [11]:
class Employee:
    def get(data_obj):
        print(f"Employee Name:{data_obj.name}, id:{data_obj.id}, salary:{data_obj.salary}")
        
print(Employee)# class object
jay=Employee()# data object, jay is the reference of data object
jay.name="Jayaram"
jay.id=3916
jay.salary=200000
vedha = Employee()# data object, vedha is the reference of data object
vedha.name = "Vedhanvesh"
vedha.id=3917
vedha.salary=300000
Employee.get(jay)
Employee.get(vedha)
sai = Employee()# dat object created. 
# we are not assigned any attributes
Employee.get(sai)

<class '__main__.Employee'>
Employee Name:Jayaram, id:3916, salary:200000
Employee Name:Vedhanvesh, id:3917, salary:300000

AttributeError: 'Employee' object has no attribute 'name'

In [12]:
class Employee:
    def get(data_obj):
        print(f"Employee Name:{data_obj.name}, id:{data_obj.id}, salary:{data_obj.salary}")
        
print(Employee)# class object
jay=Employee()# data object, jay is the reference of data object
jay.name="Jayaram"
jay.id=3916
jay.salary=200000
vedha = Employee()# data object, vedha is the reference of data object
vedha.name = "Vedhanvesh"
vedha.id=3917
vedha.salary=300000
Employee.get(jay)
Employee.get(vedha)
sai = Employee()# dat object created. 
# we are not assigned any attributes
sai.name="Sai Laxmi"
Employee.get(sai)

<class '__main__.Employee'>
Employee Name:Jayaram, id:3916, salary:200000
Employee Name:Vedhanvesh, id:3917, salary:300000

AttributeError: 'Employee' object has no attribute 'id'

In [13]:
class Employee:
    def set_data(data_obj,emp_name,emp_id,emp_sal):
        data_obj.name=emp_name
        data_obj.id=emp_id
        data_obj.salary=emp_sal
    
    def get(data_obj):
        print(f"Employee Name:{data_obj.name}, id:{data_obj.id}, salary:{data_obj.salary}")
        
print(Employee)# class object
jay=Employee()# data object, jay is the reference of data object
Employee.set_data(jay,"Jayaram",3916,200000)
# jay.name="Jayaram"
# jay.id=3916
# jay.salary=200000
vedha = Employee()# data object, vedha is the reference of data object
Employee.set_data(vedha,"Vedhanvesh",3917,300000)
# vedha.name = "Vedhanvesh"
# vedha.id=3917
# vedha.salary=300000
Employee.get(jay)
Employee.get(vedha)
sai = Employee()# dat object created. 
#sai.name="Sai Laxmi"
Employee.set_data(sai, "SaiLaxmi", 3918, 400000)
Employee.get(sai)

<class '__main__.Employee'>
Employee Name:Jayaram, id:3916, salary:200000
Employee Name:Vedhanvesh, id:3917, salary:300000
Employee Name:SaiLaxmi, id:3918, salary:400000

In [ ]:
class Employee:
    def set_data(data_obj,emp_name,emp_id,emp_sal):
        data_obj.name=emp_name
        data_obj.id=emp_id
        data_obj.salary=emp_sal
    def get(data_obj):
        print(f"Employee Name:{data_obj.name}, id:{data_obj.id}, salary:{data_obj.salary}")    
jay=Employee()
Employee.set_data(jay,"Jayaram",3916,200000)
vedha = Employee()
Employee.set_data(vedha,"Vedhanvesh",3917,300000)
Employee.get(jay)
Employee.get(vedha)
sai = Employee() 
Employee.set_data(sai, "SaiLaxmi", 3918, 400000)
Employee.get(sai)
#Calling above methods by using class object reference(Employee). we can call methods by using data object references(jay,vedha,sai) also.

In [14]:
class Employee:
    def set_data(data_obj,emp_name,emp_id,emp_sal):
        data_obj.name=emp_name
        data_obj.id=emp_id
        data_obj.salary=emp_sal
    def get(data_obj):
        print(f"Employee Name:{data_obj.name}, id:{data_obj.id}, salary:{data_obj.salary}")    
jay=Employee()
#Employee.set_data(jay,"Jayaram",3916,200000)
jay.set_data("Jayaram",3916,200000)# here we are passing only three arguments. but internally it will pass four arguments.
# i.e it will pass jay as a first argument. i.e Employee.set_data(jay,"Jayaram",3916,200000) code is going execute internally.
vedha = Employee()
#Employee.set_data(vedha,"Vedhanvesh",3917,300000)
vedha.set_data("Vedhanvesh",3917,300000)
#Employee.get(jay)
jay.get()
#Employee.get(vedha)
vedha.get()
sai = Employee() 
#Employee.set_data(sai, "SaiLaxmi", 3918, 400000)
sai.set_data("SaiLaxmi", 3918, 400000)
#Employee.get(sai)
sai.get()
#Calling above methods by using class object reference(Employee). 
#we can call methods by using data object references(jay,vedha,sai) also.

Employee Name:Jayaram, id:3916, salary:200000
Employee Name:Vedhanvesh, id:3917, salary:300000
Employee Name:SaiLaxmi, id:3918, salary:400000

In [15]:
class Employee:
    def set_data(data_obj,emp_name,emp_id,emp_sal):
        data_obj.name=emp_name
        data_obj.id=emp_id
        data_obj.salary=emp_sal
    def get(data_obj):
        print(f"Employee Name:{data_obj.name}, id:{data_obj.id}, salary:{data_obj.salary}")    
jay=Employee()
jay.set_data("Jayaram",3916,200000)
vedha = Employee()
vedha.set_data("Vedhanvesh",3917,300000)
jay.get()
vedha.get()
sai = Employee() 
sai.set_data("SaiLaxmi", 3918, 400000)
sai.get()

Employee Name:Jayaram, id:3916, salary:200000
Employee Name:Vedhanvesh, id:3917, salary:300000
Employee Name:SaiLaxmi, id:3918, salary:400000

In [16]:
class Employee:
    def set_data(data_obj,emp_name,emp_id,emp_sal):
        data_obj.name=emp_name
        data_obj.id=emp_id
        data_obj.salary=emp_sal
    def get(data_obj):
        print(f"Employee Name:{data_obj.name}, id:{data_obj.id}, salary:{data_obj.salary}")    
jay=Employee()
jay.set_data("Jayaram",3916,200000)
vedha = Employee()
vedha.set_data("Vedhanvesh",3917,300000)
jay.get()
vedha.get()
sai = Employee() 
sai.set_data("SaiLaxmi", 3918, 400000)
sai.get()
dhana = Employee()
dhana.get()

Employee Name:Jayaram, id:3916, salary:200000
Employee Name:Vedhanvesh, id:3917, salary:300000
Employee Name:SaiLaxmi, id:3918, salary:400000

AttributeError: 'Employee' object has no attribute 'name'

In [ ]:
class Employee:
    def set_data(data_obj,emp_name,emp_id,emp_sal):
        data_obj.name=emp_name
        data_obj.id=emp_id
        data_obj.salary=emp_sal
    def get(data_obj):
        print(f"Employee Name:{data_obj.name}, id:{data_obj.id}, salary:{data_obj.salary}")    
jay=Employee()
jay.set_data("Jayaram",3916,200000)
vedha = Employee()
vedha.set_data("Vedhanvesh",3917,300000)
jay.get()
vedha.get()
sai = Employee() 
sai.set_data("SaiLaxmi", 3918, 400000)
sai.get()
dhana = Employee()
dhana.get()

In [18]:
class c1:
    print("this is class")
print("Done with class definition")
print("creating an objects")
o1=c1()
o2=c1()
o3=c1()
print("done")

this is class
Done with class definition
creating an objects
done

In [19]:
class c1:
    print("this is class")
o1=c1()
o2=c1()
o3=c1()

this is class

In [20]:
class c1:
    print("this is class")
    def get(data_obj):
        print("this is get")
o1=c1()
o2=c1()
o3=c1()

this is class

In [21]:
class c1:
    print("this is class")
    def get(data_obj):
        print("this is get")
    def __init__(data_obj):
        print("this is init")
o1=c1()
o2=c1()
o3=c1()

this is class
this is init
this is init
this is init

In [22]:
class c1:
    print("this is class")
    def get(data_obj):
        print("this is get")
    def init(data_obj):
        print("this is init")
o1=c1()
o2=c1()
o3=c1()

this is class

In [23]:
class c1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self,x,y):
        print("this is init")
o1=c1()

this is class

TypeError: __init__() missing 2 required positional arguments: 'x' and 'y'

In [24]:
class c1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self,x,y):
        print("this is init")
        print(x+y)
o1=c1(10,20)

this is class
this is init
30

In [ ]:
class c1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self,x,y):
        print("this is init")
        print(x+y)
o1=c1(10,20)
print(o1.x)

In [25]:
class c1:
    def get(self):
        print("self=",self)
c1.get(10)

self= 10

In [26]:
class c1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self,x,y):
        print("this is init")
        print(x+y)
o1=c1(10,20)

this is class
this is init
30

In [27]:
class c1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self,x,y):#self=o1,x=10,y=20
        print("this is init")
        print(x+y)
o1=c1(10,20)# it will call init function. it will create init function call frame(). it will add parameters.
#in the init function call frame we have (self, x, y) are the references. till now we added no references to o1 frame
print(o1.x)

this is class
this is init
30

AttributeError: 'c1' object has no attribute 'x'

In [28]:
class c1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self,x,y):#self=o1,x=10,y=20
        print("this is init")
        self.x1=x#(x1 reference will be added to o1 frame)
        self.y1=y#(y1 reference will be added to o1 frame)
        print(x+y)
o1=c1(10,20)# it will call init function. it will create init function call frame(). it will add parameters.
#in the init function call frame we have (self, x, y) are the references. till now we added no references to o1 frame
print(o1.x)

this is class
this is init
30

AttributeError: 'c1' object has no attribute 'x'

In [29]:
class c1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self,x,y):#self=o1,x=10,y=20
        print("this is init")
        self.x1=x#(x1 reference will be added to o1 frame)
        self.y1=y#(y1 reference will be added to o1 frame)
        print(x+y)
o1=c1(10,20)# it will call init function. it will create init function call frame(). it will add parameters.
#in the init function call frame we have (self, x, y) are the references. till now we added no references to o1 frame
print(o1.x1)

this is class
this is init
30
10

In [ ]:
class c1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self,x,y):#self=o1,x=10,y=20
        print("this is init")
        self.x1=x#(x1 reference will be added to o1 frame)
        self.y1=y#(y1 reference will be added to o1 frame)
        print(x+y)
o1=c1(10,20)# it will call init function. it will create init function call frame(). it will add parameters.
#in the init function call frame we have (self, x, y) are the references. till now we added no references to o1 frame
print(o1.x1)

In [30]:
class Employee:
    def __init__(data_obj,emp_name,emp_id,emp_sal):
        data_obj.name=emp_name
        data_obj.id=emp_id
        data_obj.salary=emp_sal
    def get(data_obj):
        print(f"Employee Name:{data_obj.name}, id:{data_obj.id}, salary:{data_obj.salary}")    
jay=Employee("Jayaram",3916,200000)
vedha = Employee("Vedhanvesh",3917,300000)
sai = Employee("SaiLaxmi", 3918, 400000) 
jay.get()
vedha.get()
sai.get()

Employee Name:Jayaram, id:3916, salary:200000
Employee Name:Vedhanvesh, id:3917, salary:300000
Employee Name:SaiLaxmi, id:3918, salary:400000

In [31]:
class Employee:
    def __init__(self,emp_name,emp_id,emp_sal):
        self.name=emp_name
        self.id=emp_id
        self.salary=emp_sal
    def get(self):
        print(f"Employee Name:{self.name}, id:{self.id}, salary:{self.salary}")    
jay=Employee("Jayaram",3916,200000)
vedha = Employee("Vedhanvesh",3917,300000)
sai = Employee("SaiLaxmi", 3918, 400000) 
jay.get()
vedha.get()
sai.get()

Employee Name:Jayaram, id:3916, salary:200000
Employee Name:Vedhanvesh, id:3917, salary:300000
Employee Name:SaiLaxmi, id:3918, salary:400000

In [ ]:
class Employee:
    def __init__(self,emp_name,emp_id,emp_sal):
        self.name=emp_name
        self.id=emp_id
        self.salary=emp_sal
    def get(self):
        print(f"Employee Name:{self.name}, id:{self.id}, salary:{self.salary}")    
jay=Employee("Jayaram",3916,200000)
vedha = Employee("Vedhanvesh",3917,300000)
sai = Employee("SaiLaxmi", 3918, 400000) 
jay.get()
vedha.get()
sai.get()

In [ ]:
# write a class with a name "Product" with cost,color,name as attributes. write a method name "display" to display the data. 
# Create 4 data objects and call get method for each data object.

In [32]:
class Employee:
    def __init__(self,emp_name,emp_id,emp_sal):
        self.name=emp_name
        self.id=emp_id
        self.salary=emp_sal
    def get(self):
        print(f"Employee Name:{self.name}, id:{self.id}, salary:{self.salary}")
    def insert(self):
        query = f"inser into emp(id,name,salary) values({self.id},'{self.name}',self.salary)"
        print(query)
jay=Employee("Jayaram",3916,200000)
jay.insert()

inser into emp(id,name,salary) values(3916,'Jayaram',self.salary)

In [1]:
class Employee:
    company_name = "KHYAATHI"
    def __init__(self,emp_name,emp_id,emp_sal):
        self.name=emp_name
        self.id=emp_id
        self.salary=emp_sal
    def get_conn():
        pass
        
    def get(self):
        print(f"Employee Name:{self.name}, id:{self.id}, salary:{self.salary}")
    def insert(self):
        query = f"inser into emp(id,name,salary) values({self.id},'{self.name}',self.salary)"
        print(query)
    def create_table(self):
        q="create table"
jay=Employee("Jayaram",3916,200000)
jay.get()

Employee Name:Jayaram, id:3916, salary:200000

In [2]:
class Employee:
    company_name = "KHYAATHI"
    def __init__(self,emp_name,emp_id,emp_sal):
        self.name=emp_name
        self.id=emp_id
        self.salary=emp_sal
    def get_conn():
        pass
        
    def get(self):
        print(f"Employee Name:{self.name}, id:{self.id}, salary:{self.salary}")
    def insert(self):
        query = f"inser into emp(id,name,salary) values({self.id},'{self.name}',self.salary)"
        print(query)
    def create_table(self):
        q="create table"
jay=Employee("Jayaram",3916,200000)
jay.get()
print(Employee.company_name)

Employee Name:Jayaram, id:3916, salary:200000
KHYAATHI

In [3]:
class Employee:
    company_name = "KHYAATHI" # class object attribute
    def __init__(self,emp_name,emp_id,emp_sal):
        self.name=emp_name #name,id,salary dataobject attributes
        self.id=emp_id
        self.salary=emp_sal
    def get_conn():
        pass
        
    def get(self):
        print(f"Employee Name:{self.name}, id:{self.id}, salary:{self.salary}")
    def insert(self):
        query = f"inser into emp(id,name,salary) values({self.id},'{self.name}',self.salary)"
        print(query)
    def create_table(self):
        q="create table"
jay=Employee("Jayaram",3916,200000)
jay.get()
print(Employee.company_name)
print(jay.company_name)

Employee Name:Jayaram, id:3916, salary:200000
KHYAATHI
KHYAATHI

In [6]:
class Employee:
    COMPNAY_NAME = "KHYAATHI" # class object attribute
    def __init__(self,emp_name,emp_id,emp_sal):
        self.name=emp_name #name,id,salary dataobject attributes
        self.id=emp_id
        self.salary=emp_sal
    def get_conn():
        pass
        
    def get(self):
        print(f"Employee Name:{self.name}, id:{self.id}, salary:{self.salary}, company: {self.COMPNAY_NAME}")
    def insert(self):
        query = f"inser into emp(id,name,salary) values({self.id},'{self.name}',self.salary)"
        print(query)
    def create_table(self):
        q="create table"
jay=Employee("Jayaram",3916,200000)
jay.get()

Employee Name:Jayaram, id:3916, salary:200000, company: KHYAATHI

In [7]:
class Emp:
    def get(self):
        print(self)
        print("this is get")
        
    @classmethod
    def class_method(self):
        print(self)
        print("this is class_method")
e1=Emp()
e1.get()

<__main__.Emp object at 0x000001F6723A8AC0>
this is get

In [9]:
class Emp:
    def get(self):
        print(self)
        print("this is get")
        
    @classmethod
    def class_method(self):
        print(self)
        print("this is class_method")
e1=Emp()
e1.get()#it's an instance method. here it will pass e1 as a first argument. Emp.get(e1)
e1.class_method()# it's class method. here it will pass Emp as a first argument. Emp.get(Emp)

<__main__.Emp object at 0x000001F6723B3D30>
this is get
<class '__main__.Emp'>
this is class_method

In [10]:
class Emp:
    z=3000
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def get(self):
        print(self.x,self.y,self.z)
        print("this is get")
        
    @classmethod
    def class_method(self):
        print(self)
        print("this is class_method")
e1=Emp(10,20)
e1.get()#it's an instance method. here it will pass e1 as a first argument. Emp.get(e1)
e1.class_method()# it's class method. here it will pass Emp as a first argument. Emp.get(Emp)

10 20 3000
this is get
<class '__main__.Emp'>
this is class_method

In [12]:
class Emp:
    z=3000
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def get(self):
        print(self.x,self.y,self.z)
        print("this is get")
        
    def get_z(self):
        print(self.z)
e1=Emp(10,20)
e1.get()
e1.get_z()

10 20 3000
this is get
3000

In [13]:
class Emp:
    z=3000
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def get(self):
        print(self.x,self.y,self.z)
        print("this is get")
        
    def get_z(self):
        print(self.z)
e1=Emp(10,20)
e1.get()
e1.get_z()
print(Emp.z)

10 20 3000
this is get
3000
3000

In [14]:
class Emp:
    z=3000
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def get(self):
        print(self.x,self.y,self.z)
        print("this is get")
        
    def get_z(self):
        print(self.z)
e1=Emp(10,20)
e1.get()
e1.get_z()
print(Emp.z)
print(Emp.x)

10 20 3000
this is get
3000
3000

AttributeError: type object 'Emp' has no attribute 'x'

In [15]:
class Emp:
    z=3000
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def get(self):
        print(self.x,self.y,self.z)
        print("this is get")
       
    def get_z(self):
        print(self.z)
e1=Emp(10,20)
e1.get()
e1.get_z()
print(Emp.z)

10 20 3000
this is get
3000
3000

In [16]:
class Emp:
    z=3000
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def get(self):
        print(self.x,self.y,self.z)
        print("this is get")
    
    @classmethod
    def get_z(self):
        print(self.z)
e1=Emp(10,20)
e1.get()
e1.get_z()
print(Emp.z)

10 20 3000
this is get
3000
3000

In [17]:
class Emp:
    z=3000
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def get(self):
        print(self.x,self.y,self.z)
        print("this is get")
    
    @classmethod
    def get_z(cls):
        print(cls.z)
e1=Emp(10,20)
e1.get()
e1.get_z()
print(Emp.z)

10 20 3000
this is get
3000
3000

In [18]:
class Emp:
    z=3000
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def get(self):
        print(self)
        print(self.x,self.y,self.z)
        print("this is get")
    def get_z(cls):
        print(cls.z)
print(Emp.z)

3000

In [19]:
class Emp:
    z=3000
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def get(self):
        print(self)
        print(self.x,self.y,self.z)
        print("this is get")
    def get_z(cls):
        print(cls.z)
print(Emp.z)
e1=Emp(10,20)
e1.get()# Emp.get(e1)
e1.get_z()# Emp.get_z(e1)

3000
<__main__.Emp object at 0x000001F67200E310>
10 20 3000
this is get
3000

In [20]:
class Emp:
    z=3000
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def get(self):
        print(self)
        print(self.x,self.y,self.z)
        print("this is get")
        
    @classmethod
    def get_z(cls):
        print(cls.z)
print(Emp.z)
e1=Emp(10,20)
e1.get()#Emp.get(e1)
e1.get_z()#Emp.get(Emp)
Emp.get_z()

3000
<__main__.Emp object at 0x000001F67227E100>
10 20 3000
this is get
3000
3000

In [21]:
class Emp:
    z=3000
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def get(self):
        print(self)
        print(self.x,self.y,self.z)    
    @classmethod
    def get_z(cls):
        print(cls.z)
        
    @staticmethod
    def response_parse():
        print("stattic method")
print(Emp.z)
e1=Emp(10,20)
e1.response_parse()#it's a static method. it will not pass data/class object as a first argument.
Emp.response_parse()#it's a static method. it will not pass data/class object as a first argument.

3000
stattic method
stattic method

In [2]:
class c1:
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
class c3:
    def operations(self):
        print("this is operations.")
o3=c3()
#c3.operations(o3)
o3.operations()

this is operations.

In [3]:
class c1:
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
class c3:
    def operations(self):
        print("this is operations.")
        
o3=c3()
#c3.operations(o3)
o3.operations()
o1=c1()
o1.op1()
o2=c2()
o2.op2()

this is operations.
this is op1 in c1
this is op2 in c2

In [4]:
class c1:
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
class c3:
    def op3(self):
        print("this is op3 in c3")
    def operations(self):#self=o3
        print("this is operations.")
        
        
                
o3=c3()
o3.operations()
o3.op3()

this is operations.
this is op3 in c3

In [5]:
class c1:
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
class c3:
    def op3(self):
        print("this is op3 in c3")
    def operations(self):#self=o3
        print("this is operations.")
        self.op3()
                
o3=c3()
o3.operations()
o3.op3()

this is operations.
this is op3 in c3
this is op3 in c3

In [6]:
class c1:
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
class c3:
    def op3(self):
        print("this is op3 in c3")
    def operations(self):#self=o3
        print("this is operations.")
        self.op3()
                
o3=c3()
o3.operations()

this is operations.
this is op3 in c3

In [7]:
class c1:
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
class c3:
    def op3(self):
        print("this is op3 in c3")
    def operations(self):#self=o3
        print("this is operations.")
        self.op3()
        self.op1()
        self.op2()
                
o3=c3()
o3.operations()

this is operations.
this is op3 in c3

AttributeError: 'c3' object has no attribute 'op1'

In [8]:
class c1:
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
class c3:
    def op3(self):
        print("this is op3 in c3")
    def operations(self):#self=o3
        print("this is operations.")
        self.op3()
        o1=c1()
        o1.op1()
        o2=c2()
        o2.op2()
                
o3=c3()
o3.operations()

this is operations.
this is op3 in c3
this is op1 in c1
this is op2 in c2

In [9]:
class c1:
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
class c3(c1,c2):
    def op3(self):
        print("this is op3 in c3")
    def operations(self):#self=o3
        print("this is operations.")
        self.op3()
        #o1=c1()
        self.op1()
        #o2=c2()
        self.op2()
                
o3=c3()
o3.operations()

this is operations.
this is op3 in c3
this is op1 in c1
this is op2 in c2

In [10]:
class c1:
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
class c3(c1,c2):
    def op3(self):
        print("this is op3 in c3")
    def operations(self):#self=o3
        print("this is operations.")
        self.op3()
        self.op1()
        self.op2()
                
o3=c3()
o3.operations()

this is operations.
this is op3 in c3
this is op1 in c1
this is op2 in c2

In [11]:
class c1:
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
class c3(c1,c2):
    def op3(self):
        print("this is op3 in c3")
    def operations(self):#self=o3
        print("this is operations.")
        self.op3()
        self.op1()
        self.op2()
    def op1(self):
        print("this is op1 in c3")
                
o3=c3()
o3.operations()

this is operations.
this is op3 in c3
this is op1 in c3
this is op2 in c2

In [12]:
class c1:
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
class c3(c1,c2):#c3 is a child class of c1 and c2. c1,c2 are parent classes of c3
    def op3(self):
        print("this is op3 in c3")
    def operations(self):#self=o3
        print("this is operations.")
        self.op3()
        self.op1()
        self.op2()
    def op1(self):
        print("this is op1 in c3")
                
o3=c3()
#o3.operations()
o3.op2()# able to call parent class method by using child class instance.

this is op2 in c2

In [13]:
class DB:
    def __init__(self, **data):
        self.data = data
    def insert(self):
        print("inserting in to database:",self.data)

class Product(DB):
    pass

class Category(DB):
    pass

p1 = Product(name="p1",cost=2000)# it look for the constructor in Product. not written constructor in Product. It will
# call DB class constructor.
p1.insert()# insert method not available Product. It will call DB class method.

inserting in to database: {'name': 'p1', 'cost': 2000}

In [14]:
class DB:
    def __init__(self, **data):# constructor. used to add attributes to the data object. assign values to the attributes.
        self.data = data
    def insert(self):
        print("inserting in to database:",self.data)

class Product(DB):
    pass

class Category(DB):
    pass

p1 = Product(name="p1",cost=2000)# it look for the constructor in Product. not written constructor in Product. It will
# call DB class constructor.
p1.insert()# insert method not available Product. It will call DB class method.
c1=Category(name="Electronics")
c1.insert()

inserting in to database: {'name': 'p1', 'cost': 2000}
inserting in to database: {'name': 'Electronics'}

In [15]:
class DB:
    def __init__(self, **data):# constructor. used to add attributes to the data object. assign values to the attributes.
        self.data = data
        
    def validate(self):
        if not self.data.get("name").isalnum():
            print("not a valid name")
            
    def insert(self):
        print("inserting in to database:",self.data)

class Product(DB):
    pass

class Category(DB):
    pass

p1 = Product(name="p1",cost=2000)
p1.insert()
c1=Category(name="Electronics@#$")
# before going to insert data in to database, I want to validate Category name, if it has special symbols then dont insert it.
c1.insert()

inserting in to database: {'name': 'p1', 'cost': 2000}
inserting in to database: {'name': 'Electronics@#$'}

In [17]:
class DB:
    def __init__(self, **data):# constructor. used to add attributes to the data object. assign values to the attributes.
        self.data = data
        
    def validate(self):
        if not self.data.get("name").isalnum():
            print("not a valid name")
        else:
            self.insert()
            
    def insert(self):
        print("inserting in to database:",self.data)

class Product(DB):
    pass

class Category(DB):
    pass

p1 = Product(name="p1",cost=2000)
p1.insert()
c1=Category(name="Electronics@#$")
# before going to insert data in to database, I want to validate Category name, if it has special symbols then dont insert it.
c1.insert()

inserting in to database: {'name': 'p1', 'cost': 2000}
inserting in to database: {'name': 'Electronics@#$'}

In [18]:
class DB:
    def __init__(self, **data):# constructor. used to add attributes to the data object. assign values to the attributes.
        self.data = data
        
    def validate(self):
        if not self.data.get("name").isalnum():
            print("not a valid name")
        else:
            self.insert()
            
    def insert(self):
        print("inserting in to database:",self.data)

class Product(DB):
    pass

class Category(DB):
    pass

p1 = Product(name="p1",cost=2000)
p1.insert()
c1=Category(name="Electronics@#$")
# before going to insert data in to database, I want to validate Category name, if it has special symbols then dont insert it.
c1.validate()

inserting in to database: {'name': 'p1', 'cost': 2000}
not a valid name

In [19]:
class DB:
    def __init__(self, **data):# constructor. used to add attributes to the data object. assign values to the attributes.
        self.data = data
            
    def insert(self):
        print("inserting in to database:",self.data)

class Product(DB):
    pass

class Category(DB):
    def validate(self):
        if not self.data.get("name").isalnum():
            print("not a valid name")
        else:
            self.insert()

p1 = Product(name="p1",cost=2000)
p1.insert()
c1=Category(name="Electronics@#$")
# before going to insert data in to database, I want to validate Category name, if it has special symbols then dont insert it.
c1.validate()

inserting in to database: {'name': 'p1', 'cost': 2000}
not a valid name

In [20]:
class DB:
    def __init__(self, **data):# constructor. used to add attributes to the data object. assign values to the attributes.
        self.data = data
            
    def insert(self):
        print("inserting in to database:",self.data)

class Product(DB):
    pass

class Category(DB):
    def validate_insert(self):
        if not self.data.get("name").isalnum():
            print("not a valid name")
        else:
            self.insert()

p1 = Product(name="p1",cost=2000)
p1.insert()
c1=Category(name="Electronics@#$")
# before going to insert data in to database, I want to validate Category name, if it has special symbols then dont insert it.
c1.validate_insert()

inserting in to database: {'name': 'p1', 'cost': 2000}
not a valid name

In [21]:
class DB:
    def __init__(self, **data):# constructor. used to add attributes to the data object. assign values to the attributes.
        self.data = data
            
    def insert(self):
        print("inserting in to database:",self.data)

class Product(DB):
    pass

class Category(DB):
    def validate_insert(self):
        if not self.data.get("name").isalnum():
            print("not a valid name")
        else:
            self.insert()

p1 = Product(name="p1",cost=2000)
p1.insert()
c1 = Category(name="Accounts@#$")
c1.insert()

inserting in to database: {'name': 'p1', 'cost': 2000}
inserting in to database: {'name': 'Accounts@#$'}

In [22]:
class DB:
    def __init__(self, **data):# constructor. used to add attributes to the data object. assign values to the attributes.
        self.data = data
            
    def insert(self):
        print("inserting in to database:",self.data)

class Product(DB):
    pass

class Category(DB):
    def insert(self):
        if not self.data.get("name").isalnum():
            print("not a valid name")
        else:
            self.insert()

p1 = Product(name="p1",cost=2000)
p1.insert()
c1 = Category(name="Accounts@#$")
c1.insert()

inserting in to database: {'name': 'p1', 'cost': 2000}
not a valid name

In [ ]:
class DB:
    def __init__(self, **data):# constructor. used to add attributes to the data object. assign values to the attributes.
        self.data = data
            
    def insert(self):
        print("inserting in to database:",self.data)

class Product(DB):
    pass

class Category(DB):
    def insert(self):
        if not self.data.get("name").isalnum():
            print("not a valid name")
        else:
            self.insert()# it calls the same insert method and it's become a infinite recursion

p1 = Product(name="p1",cost=2000)
p1.insert()
c1 = Category(name="Accounts")
c1.insert()

In [23]:
class DB:
    def __init__(self, **data):# constructor. used to add attributes to the data object. assign values to the attributes.
        self.data = data
            
    def insert(self):
        print("inserting in to database:",self.data)

class Product(DB):
    pass

class Category(DB):
    def insert(self):
        if not self.data.get("name").isalnum():
            print("not a valid name")
        else:
            #self.insert()# it calls the same insert method and it's become a infinite recursion
            DB.insert(self)
            

p1 = Product(name="p1",cost=2000)
p1.insert()
c1 = Category(name="Accounts")
c1.insert()

inserting in to database: {'name': 'p1', 'cost': 2000}
inserting in to database: {'name': 'Accounts'}

In [24]:
class DB:
    def __init__(self, **data):# constructor. used to add attributes to the data object. assign values to the attributes.
        self.data = data
            
    def insert(self):
        print("inserting in to database:",self.data)

class Product(DB):
    pass

class Category(DB):
    def insert(self):
        if not self.data.get("name").isalnum():
            print("not a valid name")
        else:
            #self.insert()# it calls the same insert method and it's become a infinite recursion
            DB.insert(self)
            

p1 = Product(name="p1",cost=2000)
p1.insert()
c1 = Category(name="Account#$%s")
c1.insert()

inserting in to database: {'name': 'p1', 'cost': 2000}
not a valid name

In [25]:
class DB:
    def __init__(self, **data):# constructor. used to add attributes to the data object. assign values to the attributes.
        self.data = data
            
    def insert(self):
        print("inserting in to database:",self.data)

class Product(DB):
    pass

class Category(DB):
    def insert(self):# method overriding
        if not self.data.get("name").isalnum():
            print("not a valid name")
        else:
            #self.insert()# it calls the same insert method and it's become a infinite recursion
            #DB.insert(self)
            super(Category,self).insert()
            

p1 = Product(name="p1",cost=2000)
p1.insert()
c1 = Category(name="Account#$%s")
c1.insert()# abstraction

inserting in to database: {'name': 'p1', 'cost': 2000}
not a valid name